@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: blanchedalmond;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.dice {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.dice:hover {
  transform: scale(1.1);
}

.dice-Green { background-color: #8FBC8F; }
.dice-Grey { background-color: #9a9696; }
.dice-Yellow { background-color: #d6c557; }
.dice-Purple { background-color: #d16ad1; }
.dice-Red { background-color: #ed6363; }
.dice-Blue { background-color: #5c5cec; }

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: lightcoral;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d16b6b;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.selected {
  background-color: #5c5cec;
}

.solution {
  margin-top: 20px;
  font-size: 18px;
  background: rgba(240, 128, 128, 0.5);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 1rem;
  text-align: left;
}

.selection {
  margin-top: 20px;
  text-align: center;
}

.user-selection {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.user-selection div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-dice {
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
  padding: 5px;
  border-radius: 5px;
}

.selected-dice:hover {
  background-color: #d16b6b;
}

.result {
  margin-top: 20px;
  font-size: 16px;
}

.result p {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}
